/venv
.venv
.env
/src/config/__pycache__
/src/config/config.ini
/src/features/database_update/__pycache__
/src/features/__pycache__
/src/features/quarantine/__pycache__
/src/features/virus_scanner/__pycache__
/src/features/url_checker/__pycache__
/src/logs/__pycache__
/src/logs/safekeep.log
/src/logs/anomalies.json
/src/features/traffic_analysis/__pycache__